/**
* TODO: Make this sass & theme bootstrap
*/

/**
* LINKS
*/
.navbar-brand > a, .navbar-brand > a:hover {
  color: #fff;
  text-decoration: none;
}

li.link-inside {
  padding: 0;
}

li.link-inside a {
  display: block;
  padding: 0.75rem 1.25rem;
  color: #000;
  text-decoration: none;
}

li.link-inside a:hover {
  color: #000;
  text-decoration: none;
}
